*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 10px 30px;
    width: 40vw;
}/* Admin */
#admin{
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.signin{
    background: #171717;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.signin a{
    color: #336699;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.signin h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
}
.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 2px #336699;
    padding: 14px 50px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff ;
    background:#336699;
    cursor: pointer;
}
@media only screen and (max-width: 800px){
    .container{
    padding: 10px 0px;
    width: 80vw;
}
}