/* lightmode.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
}

nav {
    background: #fff;
    
}

.logo a {
    color: #000;
}

.container {
    padding: 10px 30px;
    width: 40vw;
}

.signin {
    background: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.signin a {
    color: #336699;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.signin h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #000;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
}

.btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 2px #336699;
    padding: 14px 50px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    background: #336699;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 10px 0px;
        width: 80vw;
    }
}
