*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
.logo span{
    color: #336699;
}
.logo a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
#admin{
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.container{
    padding: 10px 10%;
}

.signin {
    background: #171717;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.signin a {
    color: #336699;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.signin h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
}

.btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 2px #336699;
    padding: 14px 50px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    background: #336699;
    cursor: pointer;
}
#light-mode-toggle {
    background: #336699;
    color: #fff;
    border: 2px solid #336699;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s, color 0.3s;
}

#light-mode-toggle:hover {
    background: #262626;
    border-color: #262626;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 10px 0px;
        width: 80vw;
    }
}
